/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.wrapper {
  width: 100%;
  height: auto;
  margin-top: clamp(0rem, -0.313rem + 1.56vw, 1.563rem);
  padding-left: clamp(0rem, -26.786rem + 28.57vw, 7.5rem);
  padding-right: clamp(0rem, -26.786rem + 28.57vw, 7.5rem);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff),
    color-stop(#fafafa),
    color-stop(#f5f5f5),
    color-stop(#f1f1f1),
    to(#ececec)
  );
  background-image: -o-linear-gradient(
    top,
    #ffffff,
    #fafafa,
    #f5f5f5,
    #f1f1f1,
    #ececec
  );
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #fafafa,
    #f5f5f5,
    #f1f1f1,
    #ececec
  );
}
.sliderBlock {
  width: 100%;
  height: auto;
}
.blockText {
  width: 100%;
  height: auto;

  padding-left: 25px;
  padding-top: clamp(0rem, -0.526rem + 2.11vw, 2rem);
  padding-bottom: clamp(1.563rem, 0.545rem + 4.07vw, 3.75rem);
}
.title {
  font-size: clamp(1.563rem, 1.335rem + 1.14vw, 2.188rem);
  font-family: "Anta", sans-serif;
  color: #0c121c;
  font-weight: 700;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin-right: 30px;
}
.subtitle {
  font-size: clamp(0.938rem, 0.847rem + 0.45vw, 1.188rem);
  font-weight: 200;
  font-family: "Anta", sans-serif;
  color: #4a4f54;
  opacity: 0.6;
}
.link {
  margin-top: clamp(0.938rem, 0.576rem + 1.45vw, 2.313rem);
}
@media (max-width: 755px) {
  .blockText {
    padding-left: clamp(1.188rem, -0.291rem + 5.92vw, 2.5rem);
  }
}
