.wrapp {
  width: 100%;
  height: auto;
  margin-right: 20px;
}
.title {
  font-family: var(--footer-title-family);
  font-size: var(--footer-title-size);
  color: var(--footer-title-color);
  font-weight: 800;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}
@media (max-width: 757px) {
  .wrapp {
    display: none;
  }
}
