.wrappMobile {
  width: clamp(2.875rem, 2.182rem + 3.46vw, 4.75rem);
  height: 100%;
  display: none;
  cursor: pointer;
}
.wrappMobile:hover {
  background: #e9ecec;
}
.elemBlock {
  display: block;
  width: clamp(1.25rem, 1.088rem + 0.81vw, 1.688rem);
  height: clamp(0.75rem, 0.588rem + 0.81vw, 1.188rem);
  position: relative;
}

.item1 {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #000;
  position: absolute;
  top: 0;
  transition: 0.3s;
}
.item2 {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #000;
  position: absolute;

  top: 50%;
  margin-top: -1.5px;
}
.item3 {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #000;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
}
.active_1 {
  top: 50%;
  margin-top: -1.5px;
  transform: rotate(45deg);
}

.active_2 {
  display: none;
}
.active_3 {
  bottom: 50%;
  margin-bottom: -1.5px;
  transform: rotate(-45deg);
}

@media (max-width: 1186px) {
  .wrappMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 745px) {
  .item1,
  .item2,
  .item3 {
    height: 2px;
  }
}
