.cnp {
  display: inline-block;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 11px;
  background-color: #0c121c;
  color: #fff;
  padding: 15px 15px 15px 62px;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.cnp:hover {
  opacity: 0.8;
}

.cnp::before {
  content: "";
  width: 36px;
  height: 21px;
  background-image: url("./../../img/components-img/arrow-cnp.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-flex;
  position: absolute;
  top: 12px;
  left: 12px;
}
