/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.wrapper {
  width: auto;
  height: auto;
}

.text {
  font-family: var(--footer-title-family);
  font-size: var(--footer-title-size);
  color: var(--footer-title-color);
  font-weight: 800;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
}
.linkBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.img1 {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: 0px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.linkBlock:hover .text {
  text-decoration: underline;
}
.linkBlock:hover .facebook {
  fill: blue;
}
.linkBlock:hover .youTube {
  fill: rgb(255, 0, 30);
}
.linkBlock:hover .instagram {
  fill: rgb(177, 7, 207);
}
.linkBlock:hover .x {
  fill: rgb(7, 160, 207);
}

@media (max-width: 757px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .text {
    display: none;
  }
}
