.wrapper {
  width: auto;
  height: 500px;
  margin-right: 7%;
}
.text {
  font-family: var(--footer-title-family);
  font-size: var(--footer-title-size);
  color: var(--footer-title-color);
  font-weight: 800;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
}
.linkBlock {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.1s;
}
.img1 {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: 0px;
  transition: all 0.1s;
}
.linkBlock:hover .text {
  text-decoration: underline;
}
.linkBlock:hover .facebook {
  fill: blue;
}
.linkBlock:hover .youTube {
  fill: rgb(255, 0, 30);
}
.linkBlock:hover .instagram {
  fill: rgb(177, 7, 207);
}
.linkBlock:hover .x {
  fill: rgb(7, 160, 207);
}
