/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.li {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: 1px solid rgba(214, 214, 214, 0.39);
}
.li:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}
.text {
  font-family: "Vast Shadow", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 15px;
}
.blockImg {
  width: 110px;
  height: 56px;
  overflow: hidden;
}
