.wrapperRelative {
  width: 100%;
  height: clamp(12rem, 2.28rem + 38.88vw, 48.938rem);
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
}
.wrapperAbsolute {
  display: flex;
  width: 300%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.blockImg {
  width: 100%;
  display: block;
  height: auto;
}
.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0% 100%;
}
.arrowNext {
  position: absolute;
  margin-top: -15px;
  top: 50%;
  right: 70px;
  cursor: pointer;
}
.arrowNext:hover {
  opacity: 0.8;
}
.arrowPrev {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: rotate(180deg);
  cursor: pointer;
}
.arrowPrev:hover {
  opacity: 0.8;
}
