.wrapperRelative {
  width: 100%;
  height: clamp(12rem, 2.28rem + 38.88vw, 48.938rem);
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
}
.wrapperAbsolute {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.blockImg {
  width: 100%;
  display: block;
  height: auto;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0% 100%;
}
