.card {
  width: 25%;
  height: auto;
  text-align: center;
}
.img {
  display: block;
  width: 40px;
  height: auto;
  margin: 0 auto;
}
.text {
  font-family: "Anta", sans-serif;
  font-size: 11px;
  color: #5f6368;
  line-height: 19px;
  letter-spacing: 0.72px;
  font-weight: 600;
}
