:root {
  --builds-family: "Lato", sans-serif;
  --builds-title-size: 23px;
  --builds-link-size: 12px;
  --builds-color: rgb(9, 0, 0);

  --header-menu-family: "Lato", sans-serif;

  --footer-bg: #fff;

  --footer-title-family: "Lato", sans-serif;
  --footer-title-size: 10px;
  --footer-title-color: rgb(0, 0, 0);

  --footer-text-family: "Lato", sans-serif;
  --footer-text-size: 10px;
  --footer-text-color: rgb(81, 80, 80);

  --modal-authorization-color-title: rgb(255, 255, 255);
  --modal-authorization-family-title: "Manrope", sans-serif;

  --modal-authorization-color-subtitle: rgb(219, 212, 212);
  --modal-authorization-family-subtitle: "Manrope", sans-serif;

  --modal-authorization-color: rgb(255, 255, 255);
  --modal-authorization-family: "Manrope", sans-serif;
}

/* .anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */

/* font-family: "Manrope", sans-serif;
   font-weight: <weight>;
   font-style: normal; */

/* .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */
