.block {
  width: 22.4%;
  height: auto;
}
.img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
.title {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  color: #0c121c;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.subtitle {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #0c121c;
}

@media (max-width: 1279px) {
  .block {
    width: 48.6%;
    margin-bottom: 41px;
  }
}
@media (max-width: 770px) {
  .block {
    width: 100%;
  }
}
