/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.block {
  width: 22.4%;
  height: auto;
}
.imgBlock {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}
.img {
  width: 100%;
  height: auto;
  display: block;
}
.blackBlock {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.blackBlock:hover {
  background: rgba(0, 0, 0, 0.3);
}

.title {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  color: #0c121c;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.subtitle {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #0c121c;
}

@media (max-width: 1279px) {
  .block {
    width: 48.6%;
    margin-bottom: 41px;
  }
}
@media (max-width: 770px) {
  .block {
    width: 100%;
  }
}
