.wrapper {
  width: 100%;
  height: auto;
  padding-top: clamp(3rem, 2.455rem + 2.73vw, 4.5rem);
}
/* .wrapperSpinner {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
} */
