.li {
  display: inline-block;
  font-family: var(--header-menu-family);
  font-size: var(--header-menu-size);
  color: #4a4f54;
  letter-spacing: 2.2px;
  font-weight: 700;
  text-shadow: 0.3px 0 0 #727272;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgb(55, 71, 6, 0);
}
.li:hover {
  color: rgb(55, 71, 6);
  border-bottom: 1px solid rgb(55, 71, 6, 1);
}
