.cnp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 201px;
  height: 45px;
  background: #0c121c;
  cursor: pointer;
  position: relative;
  border: 2px solid #0c121c;
  transition: all 0.3s;
}
.cnp:hover {
  background: #fff;
}
.text {
  display: inline-block;
  font-family: "Anta", sans-serif;
  font-size: 14.5px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 46px;
}
.cnp:hover .text {
  color: #000;
}
.imgBlock {
  width: 26px;
}
.cnp:hover .img {
  fill: #0c121c;
  color: #0c121c;
}
