/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.wrapp {
  width: 100%;
  height: auto;
  padding-top: clamp(1.563rem, 1.02rem + 2.17vw, 3.625rem);
  padding-bottom: clamp(1.563rem, 1.02rem + 2.17vw, 3.625rem);
  padding-left: clamp(1.563rem, -13.542rem + 20.14vw, 10.625rem);
  padding-right: clamp(1.563rem, -13.542rem + 20.14vw, 10.625rem);
  margin: 0 auto;
  background-color: #fff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
