.wrapper {
  position: fixed;
  width: 100%;
  height: clamp(3rem, 2.455rem + 2.73vw, 4.5rem);
  background: #fff;
  border-bottom: 2px solid rgb(239, 239, 239);
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
