.wrapp {
  width: 100%;
  height: auto;
  padding-left: clamp(1.25rem, -0.888rem + 4.39vw, 4.375rem);
  padding-top: clamp(0rem, -0.85rem + 1.75vw, 1.25rem);
  background: var(--footer-bg);

  display: flex;
}
