.wrapper {
  position: absolute;
  top: 0;
  left: 659px;
  max-width: 898px;
  height: 100%;
  background: #fff;
  color: #0c121c;
  border-left: 1px solid rgba(214, 214, 214, 0.5);
  border-right: 1px solid rgba(214, 214, 214, 0.5);
  animation: show-content 0.6s ease;
}
.imgBlock {
  width: 100%;
  height: auto;
}
.imgBlock img {
  width: 100%;
  height: auto;
}

@keyframes show-content {
  0% {
    height: 0;
    left: 632px;
  }
  50% {
    height: 0;
    left: 632px;
  }
  100% {
    height: 76%;
    left: 659px;
  }
}
