.wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  animation: hide-wrapper 0.8s ease;
}

.content {
  width: 100%;
  height: 76%;
  position: fixed;
  display: flex;
  top: 123px;
  left: 0;
  background: rgb(255, 255, 255);
  animation: hide-content 0.8s ease;
  z-index: 1;
}

.h1 {
  text-align: center;
  margin-top: 300px;
}

@keyframes hide-content {
  0% {
    height: 76%;
  }
  100% {
    height: 0;
  }
}
.showContent {
  animation: show-content 0.7s ease;
}

@keyframes show-content {
  0% {
    height: 0;
  }
  100% {
    height: 76%;
  }
}

@keyframes hide-wrapper {
  0% {
    display: block;
    background: rgba(255, 255, 255, 0.7);
  }
  100% {
    display: none;
    background: rgba(255, 255, 255, 0);
  }
}
.showWrapper {
  display: block;
  background: rgba(255, 255, 255, 0.7);
  animation: show-wrapper 0.7s ease;
}

@keyframes show-wrapper {
  0% {
    display: none;
    background: rgba(255, 255, 255, 0);
  }
  100% {
    display: block;
    background: rgba(255, 255, 255, 0.7);
  }
}
