.wrapper {
  width: 100%;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0); */
  /* background: url(./../../img/slider-manua/img-10.png) no-repeat; */
}

.content {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgb(213, 63, 63);
  animation: hide-content 0.8s ease;
  z-index: 1;
}

.h1 {
  text-align: center;
  margin-top: 300px;
}

@keyframes hide-content {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
.showContent {
  animation: show-content 0.7s ease;
}

@keyframes show-content {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
